src/main/mule/section4/read-header-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-header-demoFlow" doc:id="d8aabb65-f3d1-474a-8fe9-cd3dce1a7c5f" >
		<http:listener doc:name="Listener" doc:id="eb230b9b-1293-48dd-ae00-41e62271d2ac" config-ref="HTTP_Listener_config" path="read-header" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="b3286907-5e12-4ce9-835d-9526bdd4aa44" message="#[attributes.headers.transactionID]"/>
	</flow>
</mule>
